{% extends 'layout.html' %}
{% block body %}
<h3>About gutSMASH</h3>
<p>
  gutSMASH allows the rapid genome-wide
  identification, annotation and analysis of specialized primary metabolic
  gene clusters across the anaerobic bacteria with special emphasis from the human gut microbiome. 
  It is a specialized extension of the widely used <a href="http://antismash.secondarymetabolites.org/">antiSMASH</a> tool, 
  tailored specifically to target plant genomes.
</p>

<p>
  gutSMASH is powered by several open
  source tools: <a href='http://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&PAGE_TYPE=BlastDocs&DOC_TYPE=Download'>NCBI BLAST+</a>,
  <a href="http://ab.inf.uni-tuebingen.de/software/diamond/">Diamond</a>,
  <a href='http://hmmer.janelia.org/'>HMMer 3</a>,
  <a href="http://www.drive5.com/muscle/">Muscle 3</a>,
  <a href="https://ccb.jhu.edu/software/glimmerhmm/">GlimmerHMM</a>,
  <a href="http://weizhongli-lab.org/cd-hit/">CD-HIT</a>,
  <a href='http://codeboje.de/pysvg/'>PySVG</a>,
  <a href='http://keith-wood.name/svg.html'>JQuery SVG</a>,
  <a href="https://datatables.net/">JQuery DataTables</a>,
  <a href="http://www.openscreen.cz/software/inchlib/home/">InCHlib</a>,
  and <a href="http://visjs.org/">vis.js</a>.
</p>

<p>
  gutSMASH is the product of a collaborative effort between the
  <a href="http://www.wur.nl/en/Expertise-Services/Chair-groups/Plant-Sciences/Bioinformatics.htm">Bioinformatics Group</a> of Wageningen University &amp; Research, the
  <a href="https://chemh.stanford.edu/">Department of Bioengineering and ChEM-H</a> 
  and the <a href="http://med.stanford.edu/pathology.html">Department of Pathology</a> at the Stanford University.
</p>


<h3>How to cite</h3>
<p>If you have found gutSMASH useful, please cite:</p>
<p>
  <b>plantiSMASH: automated identification, annotation and expression analysis of plant biosynthetic gene clusters.</b>
  <br />
  Satria A. Kautsar, Hernando G Suarez Duran, Kai Blin, Anne Osbourn &amp; Marnix H. Medema<br />
  <em>Nucleic Acids Research, 45(W1), W55-W63.</em> (2017) <a href="https://doi.org/10.1093/nar/gkx305">https://doi.org/10.1093/nar/gkx305</a><br>
</p>
{% endblock %}
