{% extends 'layout.html' %}
{% block body %}
<h2>About antiSMASH</h2>
<p>
  plantiSMASH allows the rapid genome-wide
  identification, annotation and analysis of secondary metabolite biosynthesis
  gene clusters across the plant kingdom. It is a specialized extension of the
  widely used <a href="http://antismash.secondarymetabolites.org/">antiSMASH</a>
  tool, tailored specifically to target plant genomes.
</p>

<p>
  plantiSMASH is powered by several open
  source tools: <a href='http://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&PAGE_TYPE=BlastDocs&DOC_TYPE=Download'>NCBI BLAST+</a>,
  <a href="http://ab.inf.uni-tuebingen.de/software/diamond/">Diamond</a>,
  <a href='http://hmmer.janelia.org/'>HMMer 3</a>,
  <a href="http://www.drive5.com/muscle/">Muscle 3</a>,
  <a href="https://ccb.jhu.edu/software/glimmerhmm/">GlimmerHMM</a>,
  <a href="http://weizhongli-lab.org/cd-hit/">CD-HIT</a>,
  <a href='http://codeboje.de/pysvg/'>PySVG</a>,
  <a href='http://keith-wood.name/svg.html'>JQuery SVG</a>,
  <a href="https://datatables.net/">JQuery DataTables</a>,
  <a href="http://www.openscreen.cz/software/inchlib/home/">InCHlib</a>,
  and <a href="http://visjs.org/">vis.js</a>.
</p>

<p>
  plantiSMASH is the product of a collaborative effort between the
  <a href="http://www.wur.nl/en/Expertise-Services/Chair-groups/Plant-Sciences/Bioinformatics.htm">Bioinformatics Group</a> of Wageningen University &amp; Research,
  <a href="http://if.unila.ac.id/">the Department of Informatics Engineering</a> at the Lampung University,
  the <a href="http://www.biosustain.dtu.dk/">Novo Nordisk Foundation Center for Biosustainability</a> at the Technical University of Denmark,
  and the <a href="https://www.jic.ac.uk/staff/anne-osbourn/">Department of Metabolic Biology</a> of the John Innes Centre, Norwich.
</p>

<p>
  plantiSMASH is collaboratively supported by
  the Graduate School for Experimental Plant Sciences (EPS), VENI Grant
  (#863.15.002) from The Netherlands Organization for Scientific Research (NWO), a
  Novo Nordisk Foundation Grant, UK Biotechnological and Biological Sciences
  Research Council (BBSRC) Institute Strategic Programme Grant "Understanding and
  Exploiting Plant and Microbial Metabolism" (BB/J004561/1), the John Innes
  Foundation, the joint Engineering and Physical Sciences Research Council/
  BBSRC-funded OpenPlant Synthetic Biology Research Centre grant BB/L014130/1 and
  a National Institutes of Health Genome to Natural Products Network award U101GM110699.
</p>

<h3>How to cite</h3>
<p>If you have found plantiSMASH useful, please cite:</p>
<p>
  plantiSMASH: automated identification, annotation and expression analysis of plant biosynthetic gene clusters<br />
  Satria A. Kautsar, Hernando G Suarez Duran, Kai Blin, Anne Osbourn &amp; Marnix H. Medema<br />
  <em>t.b.d.</em> (2016) t.b.d.<br>
  <em>BioRXiv</em> (2016) <a href="http://dx.doi.org/10.1101/083535">http://dx.doi.org/10.1101/083535</a><br>
</p>
{% endblock %}
