{% extends 'layout.html' %}

{% block extra_headers %}
{% if job.get_short_status() == "done" %}
  {% if job.jobtype == "antismash" %}
    <meta http-equiv="refresh" content="10; url={{ results_path }}/{{ job.uid }}/display.xhtml">
  {% else %}
    <meta http-equiv="refresh" content="10; url={{ results_path }}/{{ job.uid }}/index.html">
  {% endif -%}
{% endif -%}
{% endblock %}

{% block body %}
<div id="display">
<h2>Status of job {{ job.filename }} analysis</h2>
<p>Submitted: <span id="submitted">{{ job.added.strftime('%Y-%m-%d %H:%M:%S') }}</span><br />
Status: <span id="status">
  {% autoescape false %}
    {{ job.get_status()|e|replace('\n', '<br>') }}
  {% endautoescape %}
  </span>
   <img id="status-img" src="{{ url_for('static', filename='images/' + job.get_short_status()+'.gif')}}"><br />
   Last status change at: <span id="last-changed">{{ job.last_changed.strftime('%Y-%m-%d %H:%M:%S') }}</span><br />
</p>
<div id="result-link">
{% if job.get_short_status() == "done" %}
  {% if job.jobtype == "antismash" %}
    <p>See the <a href="{{ results_path }}/{{ job.uid }}/display.xhtml">results</a>
  {% else %}
    <p>See the <a href="{{ results_path }}/{{ job.uid }}/index.html">results</a>
  {% endif -%}
{% endif -%}
</div>
<p>
PlantiSMASH jobs take a few minutes to multiple hours to complete, depending on the nature of the input data (total number of genes, additional analyses selected).
As an example, processing the <i><a href="ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/735/GCF_000001735.3_TAIR10/GCF_000001735.3_TAIR10_genomic.gbff.gz">Arabidopsis thaliana genome</a></i> (48,350 total ORFs) with all additional analyses selected (coexpression analysis using GEO <a href="https://www.ncbi.nlm.nih.gov/sites/GDSbrowser?acc=GDS416">GDS416</a> dataset) took roughly 17 minutes of compute time on our server.
</p>
{% if job.get_short_status() == "removed" %}
<p>Your job has exceeded the maximum storage time and was removed.</p>
{% else %}
<p><b>Important:</b> If you did not provide an email address, please bookmark this page so you can access your antiSMASH results later.
<p>If you specified an email address on the job submission page, you will be notified by email once the job is complete.</p>
<p>Running antiSMASH on a complete genome will take a couple of hours, and depending on the server load it will
   take a while for your job to start.
</p>
{% endif -%}
</div>
{% endblock %}
{% block ready_function %}
    repeatedly_update_job_status("{{ url_for('status', task_id=job.uid) }}", "{{ url_for('static', filename='images') }}");
{% endblock %}
