{% extends 'layout.html' %}

{% block extra_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rickshaw.min.css') }}">
{% endblock %}

{% block body %}
<div id="display">
    <div id="header_week">Weekly Usage</div>
    <div id="week_chart_container">
      <div id="y_axis_week"></div>
      <div id="chart_week"></div>
    </div>
    <div id="header_month">Monthly Usage</div>
    <div id="month_chart_container">
      <div id="y_axis_month"></div>
      <div id="chart_month"></div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.layout.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/rickshaw.min.js') }}"></script>
<script type="text/javascript">
new Rickshaw.Graph.Ajax( {
    element: document.getElementById("chart_week"),
    width: 580,
    height: 250,
    dataURL: "{{ url_for('weekly_data') }}",
    onComplete: function(transport) {
      var graph = transport.graph;
      var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
      x_axis.render();
      var y_axis = new Rickshaw.Graph.Axis.Y( {
        graph: graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis_week'),
      } );
      y_axis.render();
    },
    series: [ {
            name: 'Weekly Usage',
            color: '#810e15',
    } ]
} );

new Rickshaw.Graph.Ajax( {
    element: document.getElementById("chart_month"),
    width: 580,
    height: 250,
    dataURL: "{{ url_for('monthly_data') }}",
    onComplete: function(transport) {
      var graph = transport.graph;
      var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
      x_axis.render();
      var y_axis = new Rickshaw.Graph.Axis.Y( {
        graph: graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis_month'),
      } );
      y_axis.render();
    },
    series: [ {
            name: 'Monthly Usage',
            color: '#810e15',
    } ]
} );

</script>
{% endblock %}
